scripts/nvidia/.venv
scripts/nvidia/.env
scripts/mac/ai_benchmark_env
scripts/mac/system_info
token.txt
benchmarks
.venv
TensorRT-LLM
models/
scripts/mac/environment/ai_benchmark_env
scripts/mac/RunBenchmark.app
scripts/mac/RunCleanup.app
.env
model.cache