torch==2.7.0 --index-url https://download.pytorch.org/whl/cu128
torchvision --index-url https://download.pytorch.org/whl/cu128
torchaudio --index-url https://download.pytorch.org/whl/cu128
huggingface_hub 
transformers 
pynvml 
matplotlib
--extra-index-url https://pypi.nvidia.com/ tensorrt-llm
psutil
datasets 
evaluate 
rouge_score 
transformers-stream-generator 
sentencepiece 
tiktoken 
einops
h5py
safetensors
flax
pyyaml